@layer base, components, utilities;

@layer base {
  :where(html) {
    color-scheme: light dark;
    background: light-dark(#fff, #111);
    color: light-dark(#111, #fff);
  }
}

.card {
  container-type: inline-size;
  view-transition-name: card--unique-id;
}

@container (width > 400px) {
  .card :has(img) h3 {
    font-size: 2rem;
    text-wrap: balance;
  }
}
